
body{
background:#111827;
color:white;
font-family:Arial;
padding:20px;
}

.container{
background:#1f2937;
padding:25px;
border-radius:15px;
}

button{
padding:10px;
margin:5px;
background:#374151;
color:white;
border-radius:6px;
}

#info{
margin-top:15px;
padding:10px;
background:#111827;
}

canvas{
background:#06152d;
margin-top:20px;
}
